.main-first-section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.firstSection {
  height: 100%;
  width: 90%;
  max-width: 2000px;
  overflow: hidden;
  position: relative;
}

.top__left {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projects{
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: -150px;
  font-family: "Inter";
  letter-spacing: -0.02em;
  gap: 10px;
  z-index: 100;
}

.projects-group{
  display: flex;
  gap: 1px;
  flex-direction: column;
}

.projects span{
  color:rgb(90, 90, 90);
}

.projects z{
  color: rgb(46, 46, 46);
}

.projects a{
  width: fit-content;
  color: black;
}



.text__main {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 10px;
  line-height: 1;
  max-width: 85%;
}

.text__main span {
  font-size: clamp(17px, 4vw, 120px);
  font-family: "Aeonik";
  line-height: 100%;
  position: relative;
  letter-spacing: -0.03em;
}

.text__small {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
  max-width: 900px;
}

.text__small span {
  font-size: clamp(17px, 1.1vw, 60px);
  font-family: var(--secondaryFont);
  font-weight: 500;
  line-height: 1;
  position: relative;
}

.marquee__section {
  position: relative;
  left: -400px !important;
  top: 100px;
  rotate: 35deg;
  width: 1000px !important;
  font-family: var(--primaryFont);
  max-width: 5000px;
}

.marquee__section span{
  font-size: 30px;
  color: black;
}

.rfm-marquee-container {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 20px;
}
.rfm-marquee-container:nth-child(1) {
  border-top: 2px solid black;
  border-bottom: 0px solid black;
  font-size: 20px;
}

.btn__first__section {
  margin-top: 20px;
}

.top__right {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin-top: -300px;
  left: 0px;
}

.small__desc__text {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  font-size: 13px;
  line-height: 100%;
  width: 400px;
  font-family: var(--smallFont);
  font-weight: 600;
}

.small__desc__text span {
  position: relative;
}

.socials_desktop {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.socials_desktop a {
  color: black;
  font-family: "Overused Grotesk Medium";
  font-size: 12px;
}

.notice {
  margin-top: 20px;
  font-family: "Overused Grotesk Medium";
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: rgb(63, 63, 63);
}

.block {
  height: 7px;
  width: 5px;
  background: rgb(63, 63, 63);
}

@media (max-width: 1366px) {
  .text__main span {
    font-size: 60px;
  }
  .top__left {
    width: 100%;
  }
}

@media (max-width: 790px) {
  .text__main span {
    font-size: 40px;
  }

  .text__main {
    gap: 10px;
  }

  .text__small span {
    font-size: 15px;
  }
  .text__small {
    gap: 3px;
  }
}

@media (max-width: 490px) {
  .text__main span {
    font-size: 30px;
  }

  .text__main {
    gap: 8px;
  }

  .text__small span {
    font-size: 13px;
  }
  .text__small {
    gap: 0px 3px;
    line-height: 100%;
  }
}

@media (max-width: 2000px) {
  .firstSection {
    overflow: visible;
  }
}

@media (max-width: 938px) {
  .small__desc__text {
    display: none;
  }

  .socials_desktop {
    display: none;
  }

  .marquee__section span{
    font-size: 20px;
  }
}

@media (max-width: 1907px) {
  .top__right {
    margin-top: -100px;
  }
}


@media (max-height: 801px) and (max-width: 938px) {
  .projects {
    right: 0;
    text-align: right;
    margin-top: -120px;
  }

  .projects-group a {
    text-align: right;
    width: 100%;
  }
}